main {
  
    display: flex;  /* defaults to row layout */
    justify-content: center;  /* centers items horizontally in row layout */
    align-items: center;  /* centers vertically in row layout */
    /* flex-direction: column; will set layout to column instead of row */

}
.addButton {
 height: 45px; 
 width: 75px; 
 position:relative;
 margin: 70%;
 align-items: center;
 top: -10px;
 background-color: lightgray;
 color: white;
 border: solid gray;
 font-size: 40px;
 text-align: center;
}
.input {
 width: 75px;
 height: 45px;
 position:relative;
  margin: 50%;
 bottom: 1000px;
 align-items: center;
 border: solid gray;
 text-align: center;
 font-size: 25px;
 font-family: 'Franklin Gothic Medium'
}
.subtractButton {
 height: 45px; 
 width: 75px; 
 position:relative;
 margin: 30%;
 bottom: 1600px;
 align-items: center;
 background-color: lightgray;
 color: white;
 border: solid gray;
 font-size: 40px;
 text-align: center;
}
.totalCount {
 text-align: center;
 align-items: center;
 position:relative;
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
 margin: 50%;
}
button:hover {
 background-color: white;
 color: gray
}

